/* CSS Document */
html {
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI","Microsoft YaHei",sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *::before, *::after {
  box-sizing: inherit; }

html, body, div, object, iframe, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, progress {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

li {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  line-height: normal; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  width: 100%; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container, .container-fluid {
    width: 750px; }
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-pull-12 {
    right: 100%; } }

@media (min-width: 992px) {
  .container, .container-fluid {
    width: 970px; }
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-pull-12 {
    right: 100%; } }

@media (min-width: 1200px) {
  .container, .container-fluid {
    width: 1170px; }
  .col-lg-1 {
    float: left;
    width: 8.33333%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-2 {
    float: left;
    width: 16.66667%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.33333%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-5 {
    float: left;
    width: 41.66667%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.33333%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-8 {
    float: left;
    width: 66.66667%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.33333%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-11 {
    float: left;
    width: 91.66667%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-pull-12 {
    right: 100%; } }

h0 {
  font-size: 12px;
  font-weight: 700;
  color: #555; }

h1 {
  font-size: 18px;
  font-weight: 700;
  color: #555; }

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #555; }

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #555; }

h4 {
  font-size: 36px;
  font-weight: 700;
  color: #555; }

h5 {
  font-size: 42px;
  font-weight: 700;
  color: #555; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.toast-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  display: none; }
  .toast-modal .toast {
    position: absolute;
    color: #fff;
    background-color: #111;
    padding: 5px;
    z-index: 1000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
  .toast-modal .toast-middle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .toast-modal .toast-top {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  .toast-modal .toast-bottom {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }

.form-level, .form-vertical {
  padding: 10px 15px; }

.form-controler {
  width: 100%; }

.response-img img {
  max-width: 100%;
  height: auto;
  display: inline-block; }

.fix-top {
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .fix-top header {
    height: 100%; }
    .fix-top header .row {
      height: 100%; }
    .fix-top header .response-img {
      margin-top: 16px; }
    .fix-top header nav {
      position: relative;
      height: 100%;
      padding: 0; }
    .fix-top header .menu {
      display: none;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAeUlEQVRYR+2U0QmAQAxD000cxY2uE4i3QUa6URxF7kcQ/G4OTKDfCa9NA2KF2B8OYALrEMjMDcCcCl0kr2n0EGit9Yg4KtwBdJLnWgEycwcwp0KD5HgRqHD98linBXICrqH8D8hXID9CB5C/YnkL5AFcQ9fQBH5L4Aa9vzwhSSoxZAAAAABJRU5ErkJggg==) no-repeat center;
      background-size: cover;
      width: 32px;
      height: 32px; }
    .fix-top header ul {
      padding: 0 15px;
      height: 100%;
      position: relative; }
    .fix-top header li {
      width: 16.66667%;
      height: 100%; }
      .fix-top header li a {
        text-align: center;
        display: block;
        line-height: 100px;
        color: #666;
        font-size: 14px; }
    .fix-top header .line {
      position: absolute;
      width: 10%;
      height: 3px;
      bottom: 0;
      left: 3%;
      background-color: #333;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s; }

.flex {
  display: flex;
  justify-content: space-between; }

.full-page {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px; }

.header-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7); }

@media (max-width: 768px) {
  .fix-top header .response-img {
    margin-top: 0;
    width: 129.6px;
    height: 64.8px; }
  .fix-top header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 30px; }
    .fix-top header .row:before, .fix-top header .row:after {
      display: none; }
  .fix-top header nav {
    position: initial;
    height: auto; }
    .fix-top header nav .menu {
      display: block;
      cursor: pointer; }
    .fix-top header nav .line {
      display: none; }
    .fix-top header nav ul {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 7;
      left: 0;
      bottom: 200%;
      display: block;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      background-color: #fff; }
      .fix-top header nav ul.active {
        bottom: -200%; }
      .fix-top header nav ul li {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ccc; }
        .fix-top header nav ul li a {
          line-height: 50px; }
        .fix-top header nav ul li:last-child {
          border-bottom: none; } }

.full-page .container {
  padding-top: 100px;
  height: 600px; }

.team-text {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 14px 30px 50px;
  height: 100%; }
  .team-text h3 {
    color: #666;
    font-size: 24px;
    margin-bottom: 50px; }
  .team-text p {
    margin-bottom: 50px;
    font-size: 14px;
    color: #999;
    line-height: 24px; }
    .team-text p:nth-child(2) {
      padding-bottom: 50px;
      border-bottom: 1px solid #e6e6e6; }

.team-bg {
  background: url(/images/team-bg.86df4c99f23c3b6919c1adba1c582453.png) no-repeat center;
  background-size: cover;
  height: 100%; }

@media (max-width: 992px) {
  .full-page .container {
    height: 450px; }
  .team-text {
    padding: 30px 20px; }
    .team-text h3, .team-text p {
      margin-bottom: 20px; }
  .team-text p:nth-child(2) {
    padding-bottom: 20px; } }

